<div style="overflow: hidden;">
    <div nz-row [nzGutter]="5">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell"><app-introduction></app-introduction></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell"><app-contect-me-form></app-contect-me-form></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="componentCell"><div class="JustOrange SectionHeader"><span>Projects</span></div></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="componentCell">
            <app-project-card
            ProjectTitle="Project 1"
            ProjectDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
            ProjectPrimaryImageURL="https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk="
            ></app-project-card>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="componentCell"><div class="JustOrange SectionHeader"><span>Job Experience</span></div></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="componentCell">
            <app-project-card
            ProjectTitle="Project 1"
            ProjectDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
            ProjectPrimaryImageURL="https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk="
            ></app-project-card>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="componentCell"><div class="JustOrange SectionHeader"><span>Certificates</span></div></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="6" class="componentCell">
            <app-project-card
            ProjectTitle="Project 1"
            ProjectDescription="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. "
            ProjectPrimaryImageURL="https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk="
            ></app-project-card>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="componentCell"><div class="JustOrange SectionHeader"><span>Social Media Posts</span></div></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell">

        </div>
    </div>
</div>