<div class="DisplayCabinateOuterContainer">
    <div class="DisplayCabinateInnerContainer">
        <div class="DisplayCabinateHeader">
            <span class="DisplayCabinateHeaderText">{{Title}}</span> <span class="DisplayCabinateTotal">{{Total}}</span>
        </div>
        <div class="DisplayCabinateIconsContainer">
            <div nz-row nzGutter="10">
                <div nz-col nzXs="4" nzSm="4" nzMd="4" nzLg="4" nzXl="4" class="DisplayCabinateIconContainer" *ngFor="let Item of Items">
                    <img [src]="Item.ImageLink" class="DisplayCabinateIconImage">
                </div>
            </div>
        </div>
    </div>
</div>