/* You can add global styles to this file, and also import other style files */

:root {
    --primary-orange: #c1642f;
    --primary-background-color: #000;
}

* {
    margin: 0px;
}


@font-face {
    font-family: Angelina;
    src: url(./assets/Fonts/Angelina.otf);
}

@font-face {
    font-family: Rosmatika;
    src: url(./assets/Fonts/Rosmatika.ttf);
}

@font-face {
    font-family: Inter;
    src: url(./assets/Fonts/Inter.ttf);
}


::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-orange);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-orange);
}

.ContectMeFormOuterContainer .FormContainer input, .ContectMeFormOuterContainer .FormContainer textarea{
    background-color: white !important;
    color: black !important;
}

.ContectMeFormOuterContainer .FormContainer .ant-form-item-label{
    text-align: left;
    color: #000;
}

.ContectMeFormOuterContainer .FormContainer .ant-form-item-label label{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.FormHeader{
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}