.Main{
    padding: 5px;
    font-family: 'Inter';
}

.BodySection{
    max-height: calc(100vh - (69px + 10px));
    overflow: auto;
}

.Header{
    padding: 5px;
}

.BodySection{
    padding: 5px;
    padding-top: 0px;
}