<div class="ProfileHeaderContainer">
    <div nz-row class="ProfileHeaderInnerContainer" nzGutter="20">
        <div nz-col nzXs="8" nzSm="8" nzMd="6" nzLg="4" nzXl="4">
            <div class="ProfileHeaderImageContainer">
                <img src="../../../../../assets/Images/ProfileImage.jpeg" class="ProfileHeaderImage">
            </div>
        </div>
        <div nz-col nzXs="16" nzSm="16" nzMd="10" nzLg="14" nzXl="14">
            <div class="ProfileHeaderName">
                <h1>Rohan Patel</h1>
            </div>
            <div class="ProfileHeaderLocation">
                <span class="LocationText">Ahmadabad, Gujarat, India</span>
                <img src="../../../../../assets/Images/IndianFlag.gif" class="IndianFlag"> 
            </div>
            <div class="ProfileHeaderHeadLine">
                Full Stack Developer
            </div>
            <div class="ProfileHeaderDescription HideUnder500">
                I am committed to creating innovative solutions that provide excellent user experiences. With expertise in front-end and back-end technologies, I work collaboratively with clients to deliver cutting-edge solutions.
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" class="ShowUnder500">
            <div class="ProfileHeaderDescription">
                I am committed to creating innovative solutions that provide excellent user experiences. With expertise in front-end and back-end technologies, I work collaboratively with clients to deliver cutting-edge solutions.
            </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="6" class="SocailButtonsContainer">
            <div class="SocialButtonContainer">
                <span nz-icon nzType="instagram" nzTheme="fill"></span> gamble4846
            </div>
            <div class="SocialButtonContainer">
                <span nz-icon nzType="linkedin" nzTheme="fill"></span> rohanpatel4846
            </div>
            <div class="SocialButtonContainer">
                <span nz-icon nzType="twitter-square" nzTheme="fill"></span> gamble4846
            </div>
            <div class="SocialButtonContainer">
                <span nz-icon nzType="mail" nzTheme="fill"></span> rohanpatel4846@gmail.com
            </div>
            <div class="SocialButtonContainer">
                <span nz-icon nzType="codepen-square" nzTheme="fill"></span> gamble4846
            </div>
        </div>
    </div>
</div>