<div class="IntroductionOuterContainer">
    <div class="IntroductionInnerContainer">
        <div>
            <span class="IntroductionHeader">Hi,</span><br>
            <span class="IntroductionHeader">My Name is Rohan</span><br>
            <span class="IntroductionDescription">Full Stack Developer from Ahmedabad, India</span><br>
            <span class="IntroductionDescriptionAboutMe">I am committed to creating innovative solutions that provide excellent user experiences. With expertise in front-end and back-end technologies, I work collaboratively with clients to deliver cutting-edge solutions.</span>
        </div>
    </div>
</div>
