.IntroductionOuterContainer{
    border-radius: 15px;
    background: url("https://i.imgur.com/pOZ2tLy.jpeg");
    background-size: cover;
    height: 100%;
    min-height: 60vh;
    animation: fadeInAnimation ease 1s;
}

.IntroductionInnerContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 15px;
    height: 100%;
    color: #0f0e0d;
    font-weight: bold;
}

.IntroductionInnerContainer .IntroductionHeader{
    font-size: 70px;
}

.IntroductionInnerContainer .IntroductionDescription{
    font-size: 25px;
}

.IntroductionInnerContainer .IntroductionDescriptionAboutMe{
    font-size: 20px;
}