<div style="overflow: hidden;">
    <div nz-row [nzGutter]="5">
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell"><app-introduction></app-introduction></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell"><app-contect-me-form></app-contect-me-form></div>
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="componentCell">
            <div class="temp1"></div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6" class="componentCell">
            <div class="temp1"></div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12" class="componentCell">
            <div class="temp1"></div>
        </div>
    </div>
</div>