.componentCell{
    padding-bottom: 5px;
}

.JustOrange{
    border-radius: 15px;
    background: var(--primary-orange);
    background-size: cover;
    padding: 10px;
}

.JustOrange.SectionHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.JustOrange span{
    font-size: 30px;
    font-weight: bold;
    color: white;
}